@{
    ViewData["Title"] = "Выход из аккаунта";
}

<div class="container">
    <h5>Вы успешно вышли из аккаунта.</h5>
    <p>Спасибо за посещение! Будем рады видеть вас <a href="@Url.Action("Login", "Account")">снова</a>.</p>
</div>
