<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<internalLogFile value="logs/nlog-internal.txt" />
	<internalLogLevel value="Debug" />

	<targets>
		<target name="logfile" xsi:type="File" fileName="${basedir}/logs/logfile.txt" layout="${longdate} ${level} ${message} ${exception}" createDirs="true" />

		<target name="useractions" xsi:type="File" fileName="${basedir}/logs/useractions.txt" layout="${longdate} ${message}" createDirs="true" />
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="logfile" />

		<logger name="*" minlevel="Info" writeTo="useractions" />
	</rules>
</nlog>
