@{
    ViewData["Title"] = "Главная";
}

<div>
    <h3 class="display-4">Добро пожаловать</h3>
    <p>Наш блог — это платформа для обмена знаниями, мнениями и опытом по разнообразным темам. Мы предлагаем интересные статьи, актуальные новости и полезные советы, которые помогут вам разобраться в различных сферах жизни и бизнеса. Мы стремимся создать сообщество, где каждый может найти полезную информацию и поделиться своими мыслями. Присоединяйтесь и оставайтесь в курсе самых интересных событий!</p>
</div>
