@{
    ViewData["Title"] = "Модер панель";
}

<h3>@ViewData["Title"]</h3>

<div class="container mt-5">
    <div class="d-flex flex-column align-items-start">
        <a asp-controller="Tag" asp-action="AdminIndex" class="btn btn-warning mb-2" style="width: 250px;">Управление тегами</a>
    </div>
</div>