@{
    ViewData["Title"] = "Политика конфиденциальности";
}

<h3>@ViewData["Title"]</h3>

<p>Политика конфиденциальности блога защищает вашу личную информацию. Мы собираем данные для улучшения сайта, обработки запросов и отправки уведомлений. Мы не передаем информацию третьим лицам, за исключением случаев, требующихся по закону. Вы можете запросить доступ или удалить свои данные, связавшись с нами по email.</p>
