@model IEnumerable<TagViewModel>

@{
    ViewData["Title"] = "Список тегов";
}

<h3>@ViewData["Title"]</h3>

<div style="display: flex; flex-wrap: wrap; gap: 15px;">
    @foreach (var tag in Model)
    {
            <div class="card" style="width: 200px; border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                <h5 class="card-title">@tag.Name</h5>
                <h7 class="card-text text-muted">
                    Используется в @tag.ArticleCount @(@tag.ArticleCount == 1 ? "статье" : "статьях").
                </h7>
            </div>
    }
</div>