@{
    ViewData["Title"] = "Ошибка";
}

<div class="container text-center">
    <h3>Что-то пошло не так</h3>

    <p>Произошла непредвиденная ошибка. Мы уже работаем над её устранением. Попробуйте повторить действие позже.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Вернуться на главную</a>
</div>